include ../includes/navBar.pug
    block content
        section
            .div(style="min-height:75%;").container-100
                .row.m-0.d-flex.justify-content-center
                    .col-xl-6.col-sm-12.justify-content-center.align-items-center.p-3.m-3
                        table.table 
                            thead.thead-dark
                                tr
                                    th Id
                                    th Emri51835
                                    th Mbiemri51385 
                                    th BankaID
                            tbody
                                each n in personi
                                    - console.log(n)
                                    tr 
                                        td= n.id51835
                                        td= n.emri51835
                                        td= n.mbiemri51835 
                                        td=n.bankaid
                                        td 
                                            a(href="/personi/"+n.id51835).btn.btn-secondary Edito
                                        td 
                                            button.btn.btn-danger(onclick="fshijPersonin("+n.id51835+")") Fshije
                .bg-secondary.p-5.pb-1.pt-1(style="border-radius: 10px; margin-top: 85px !important;").m-3.mb-5.mt-5
                    h1.m-4.text-center.mt-4 Shto Person
                    .justify-content-center
                        form(method="POST" action="/personi")
                            table.table
                                tbody
                                    tr
                                        td
                                            .form-group
                                                label(for="emri51835") Emri
                                                    input#isbn.form-control(name="emri51835", type="text")
                                        td
                                            .form-group
                                                label(for="mbiemri51835") Mbiemri
                                                    input#titulli.form-control(name="mbiemri51835", type="text")
                                        td
                                            .form-group
                                                label(for="bankaid") Banka ID
                                                    select#bankaid.form-control(name="bankaid")
                                                        each banka in bankat
                                                            option(value=banka.id212261491)= banka.emri212261491
                                        tr.m-1(style ="border: 1px white !important")
                                            td(colspan="4", style =" border-bottom: none;")
                                                .form-group
                                                    button.btn.btn-primary.m-2(type="submit") Shto Personin
                                        .alert-danger.m-1(role="alert", style="display:"+errorActive+"; border-radius: 7px;",)= err
                                    label(for="bankaid") Banka
include ../includes/footer.pug

//pjesen e tabeles se rendijes se dhenave e copjova nga koleksioniLibra.pug
//pjesen e shtimit te nje ndertese e copjova nga crudiPerLibra.pug