include ../../includes/navBar.pug
    p hi - Satelitet

section
    .div(style="min-height:75%;").container-100
        .row.m-0.d-flex.justify-content-center
            .col-xl-6.col-sm-12.justify-content-center.align-items-center.p-3.m-3
                table.table 
                    thead.thead-dark
                        tr
                            th playerId
                            th name 
                            th number
                            th birthYerar
                            th teamId
                    tbody
                        each o1 in objekti1
                            tr 
                                td= o1.playerId
                                td= o1.name
                                td= o1.number
                                td= o1.birthYear
                                td= o1.teamId
                                td 
                                    button.btn.btn-danger(onclick="playerf("+o1.playerId+")") Fshije 

        .bg-secondary.p-5.pb-1.pt-1(style="border-radius: 10px; margin-top: 85px !important;").m-3.mb-5.mt-5
            h1.m-4.text-center.mt-4 Shto
                .justify-content-center
                    form(method="POST" action="/player")
                        table.table
                            tbody
                                tr
                                    td
                                        .form-group
                                            label(for="name") Name
                                                input#isbn.form-control(name="name", type="text")
                                    td
                                        .form-group
                                            label(for="number") Numrin
                                                input#isbn.form-control(name="number", type="number")
                                    td
                                        .form-group
                                            label(for="birthYear") vitiLindjes
                                                input#isbn.form-control(name="birthYear", type="number")
                                    td
                                        .form-group
                                            label(for="teamId") TeamId
                                                    select#planetId.form-control(name="teamId")
                                                        each o2 in objekti2
                                                            option(value=o2.teamId)= o2.name
                                    tr.m-1(style ="border: 1px white !important")
                                        td(colspan="4", style =" border-bottom: none;")
                                            .form-group
                                                button.btn.btn-primary.m-2(type="submit") Shto

include ../../includes/footer.pug                                                   