include ../includes/navBar.pug
    section
    .div(style="min-height:75%;").container-100
        .row.m-0.d-flex.justify-content-center
            .col-xl-6.col-sm-12.justify-content-center.align-items-center.p-3.m-3
                table.table 
                    thead.thead-dark
                        tr
                            th SatelliteId
                            th Name 
                            th PlanetId 
                            th isDeleted
                    tbody
                        each o1 in objektet1
                            tr 
                                td= o1.satelliteId
                                td= o1.name
                                td= o1.planetId
                                td= o1.isDeleted
                                td 
                                    a(href="/satellite/"+o1.satelliteId).btn.btn-secondary Edito
                                td 
                                    button.btn.btn-danger(onclick="fshijSatellite("+o1.satelliteId+")") Fshije

        .bg-secondary.p-5.pb-1.pt-1(style="border-radius: 10px; margin-top: 85px !important;").m-3.mb-5.mt-5
            h1.m-4.text-center.mt-4 Shto 
                .justify-content-center
                    form(method="POST" action="/satellite")
                        table.table
                            tbody
                                tr
                                    td
                                        .form-group
                                            label(for="name") Name
                                                input#isbn.form-control(name="name", type="text")
                                    td
                                        .form-group
                                            label(for="planetId") planetID
                                                    select#planetId.form-control(name="planetId")
                                                        each o2 in objektet2
                                                            option(value=o2.planetId)= o2.name
                                    tr.m-1(style ="border: 1px white !important")
                                        td(colspan="4", style =" border-bottom: none;")
                                            .form-group
                                                button.btn.btn-primary.m-2(type="submit") Shto

include ../includes/footer.pug